In [1]:
import re
import pandas as pd

In [31]:
f = open('Discussion WhatsApp avec Thiara.txt','r',encoding='utf-8')

In [32]:
data = f.read()

In [33]:
print (data)

20/11/2022, 15:08 - Les messages et les appels sont chiffr√©s de bout en bout. Aucun tiers, pas m√™me WhatsApp, ne peut les lire ou les √©couter. Appuyez pour en savoir plus.
05/07/2023, 17:35 - Les messages et les appels sont chiffr√©s de bout en bout. Aucun tiers, pas m√™me WhatsApp, ne peut les lire ou les √©couter. Appuyez pour en savoir plus.
05/07/2023, 17:35 - Thiara: Bonjour
05/07/2023, 17:35 - Ndeya Chou ‚ù§ü¶ãüíç: Oui bonjour
05/07/2023, 17:36 - Thiara: Nakamou l√©pou diamou
05/07/2023, 17:36 - Ndeya Chou ‚ù§ü¶ãüíç: Cool niiii
05/07/2023, 17:36 - Thiara: Et la journ√©e
05/07/2023, 17:36 - Ndeya Chou ‚ù§ü¶ãüíç: Cva cool
05/07/2023, 17:38 - Thiara: C qui
05/07/2023, 17:39 - Ndeya Chou ‚ù§ü¶ãüíç: Moi c Mame Diarra et vous
05/07/2023, 17:39 - Thiara: MoiüòÇ Thiara Di√©ye
05/07/2023, 17:39 - Ndeya Chou ‚ù§ü¶ãüíç: Okeyyy üòç

In [34]:
pattern = '\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'

In [35]:
messages = re.split(pattern, data)[1:]
messages

['Les messages et les appels sont chiffr√©s de bout en bout. Aucun tiers, pas m√™me WhatsApp, ne peut les lire ou les √©couter. Appuyez pour en savoir plus.\n',
 'Les messages et les appels sont chiffr√©s de bout en bout. Aucun tiers, pas m√™me WhatsApp, ne peut les lire ou les √©couter. Appuyez pour en savoir plus.\n',
 'Thiara: Bonjour\n',
 'Ndeya Chou ‚ù§ü¶ãüíç: Oui bonjour\n',
 'Thiara: Nakamou l√©pou diamou\n',
 'Ndeya Chou ‚ù§ü¶ãüíç: Cool niiii\n',
 'Thiara: Et la journ√©e\n',
 'Ndeya Chou ‚ù§ü¶ãüíç: Cva cool\n',
 'Thiara: C qui\n',
 'Ndeya Chou ‚ù§ü¶ãüíç: Moi c Mame Diarra et vous\n',
 'Thiara: MoiüòÇ Thiara Di√©ye\n',
 'Ndeya Chou ‚ù§ü¶ãüíç: Okeyyy üòç\n']

In [36]:
dates = re.findall(pattern, data)
dates

['20/11/2022, 15:08 - ',
 '05/07/2023, 17:35 - ',
 '05/07/2023, 17:35 - ',
 '05/07/2023, 17:35 - ',
 '05/07/2023, 17:36 - ',
 '05/07/2023, 17:36 - ',
 '05/07/2023, 17:36 - ',
 '05/07/2023, 17:36 - ',
 '05/07/2023, 17:38 - ',
 '05/07/2023, 17:39 - ',
 '05/07/2023, 17:39 - ',
 '05/07/2023, 17:39 - ']

In [38]:
df = pd.DataFrame({'user_message': messages, 'message_date': dates})
# convert message_date type
df['message_date'] = pd.to_datetime(df['message_date'], format='%d/%m/%Y, %H:%M - ')

df.rename(columns={'message_date': 'date'}, inplace=True)   

df.head()

                                        user_message                date
0  Les messages et les appels sont chiffr√©s de bo... 2022-11-20 15:08:00
1  Les messages et les appels sont chiffr√©s de bo... 2023-07-05 17:35:00
2                                  Thiara: Bonjour\n 2023-07-05 17:35:00
3                      Ndeya Chou ‚ù§ü¶ãüíç: Oui bonjour\n 2023-07-05 17:35:00
4                     Thiara: Nakamou l√©pou diamou\n 2023-07-05 17:36:00

In [39]:
df.shape

(12, 2)

In [40]:
# separate users and messages
users = []
messages = []
for message in df['user_message']:
    entry = re.split('([\w\W]+?):\s', message)
    if entry[1:]:  # user name
        users.append(entry[1])
        messages.append(" ".join(entry[2:]))
    else:
        users.append('group_notification')
        messages.append(entry[0])

df['user'] = users
df['message'] = messages
df.drop(columns=['user_message'], inplace=True)
df.head()

,date,user,message
0,2022-11-20 15:08:00,group_notification,Les messages et les appels sont chiffr√©s de bo...
1,2023-07-05 17:35:00,group_notification,Les messages et les appels sont chiffr√©s de bo...
2,2023-07-05 17:35:00,Thiara,Bonjour\n
3,2023-07-05 17:35:00,Ndeya Chou ‚ù§ü¶ãüíç,Oui bonjour\n
4,2023-07-05 17:36:00,Thiara,Nakamou l√©pou diamou\n

In [43]:
  df['year'] = df['date'].dt.year

In [44]:
df.head()

,date,user,message,year
0,2022-11-20 15:08:00,group_notification,Les messages et les appels sont chiffr√©s de bo...,2022
1,2023-07-05 17:35:00,group_notification,Les messages et les appels sont chiffr√©s de bo...,2023
2,2023-07-05 17:35:00,Thiara,Bonjour\n,2023
3,2023-07-05 17:35:00,Ndeya Chou ‚ù§ü¶ãüíç,Oui bonjour\n,2023
4,2023-07-05 17:36:00,Thiara,Nakamou l√©pou diamou\n,2023

In [45]:
 df['month'] = df['date'].dt.month_name()

In [47]:
df['day'] = df['date'].dt.day

In [48]:
df['hour'] = df['date'].dt.hour

In [49]:
 df['minute'] = df['date'].dt.minute

In [50]:
df.head()

,date,user,message,year,month,day,hour,minute
0,2022-11-20 15:08:00,group_notification,Les messages et les appels sont chiffr√©s de bo...,2022,November,20,15,8
1,2023-07-05 17:35:00,group_notification,Les messages et les appels sont chiffr√©s de bo...,2023,July,5,17,35
2,2023-07-05 17:35:00,Thiara,Bonjour\n,2023,July,5,17,35
3,2023-07-05 17:35:00,Ndeya Chou ‚ù§ü¶ãüíç,Oui bonjour\n,2023,July,5,17,35
4,2023-07-05 17:36:00,Thiara,Nakamou l√©pou diamou\n,2023,July,5,17,36